<h3>Търсене на студент по ЕГН</h3>
<form method="POST" style="padding-bottom: 20px;">
    <input type="text" name="personalNumber">
    <input type="submit" value="Търси">
</form>

{% for s in student %}
    <p>Резултат: {{ s.personalNumber }} {{ s.firstName }} {{ s.fathersName }} {{ s.lastName }}</p>
{% endfor %}
    
{% if (student is empty) %}
    <p>Няма намерен резултат</p>
{% endif %}